footer{
    position: sticky;
    top: 100%;
    padding: 18px 0;
}
#mainIntro{
    width:180px;
    height:180px;
    border-radius: 50%;
    background-color: red;

    position: relative;
    left: 12%;
    bottom:400px;

    text-align: center;
    font-weight: 900;
    font-size: 15px;
}
#mainIntro span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    line-height: 32px;
}
#pageControler{
    position: relative;
    left:2%;
    
    font-size:24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}
#currentPage{
    font-weight: 900;
}
#totalPage{
    font-weight: 100;
    transform: translateX(-10px);
}
#pageControlerBtns{
    margin-top: 16px;

}
#pageControlerBtns button{
    border: 1px solid black;
    background-color: white;
    color: black;
    font-weight: 900;

    width: 24px;
    height: 24px;
}
#pageControlerBtns button:last-child{
    margin-left: -6px;
}
