header{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;

    padding: 30px;

    display: flex;
    flex-direction: row;
    align-items: baseline;

    z-index: 10;
}
#logo{
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;

    letter-spacing: 1px;
    font-weight: border;
    font-size: 17px;
}
#logo span{
    cursor: pointer;
}

#menu{
    position: relative;

    flex-basis: 350px;
    flex-shrink: 1;
    flex-grow: 1;
}
.menuBtn{
    width: fit-content;
    padding: 5px 14px 5px 2px; 

    font-weight: 900;
    font-size: 15px;
    letter-spacing: -1.5px;
}
#cursorBar{
    height: 3px;

    position: absolute;
    
    background-color: white;

    transition: left 0.2s ease-in-out;
}
#mouseArea{
    width: fit-content;
}

.hidden{
    display: none;
}
#subMenu{
    flex-basis: 275px;
    flex-shrink: 0;
    flex-grow: 0;

    position: relative;

    display: flex;
    flex-direction: row;
}
.subMenuBtn{
    width: fit-content;
    padding: 5px;
    font-size: 13px;
    font-weight: 900;
    font-family: 'Noto Sans KR', sans-serif;

    position: relative;

    cursor: pointer;
}
.subMenuBtn span{
    vertical-align: middle;
}

.hideSubMenu{
    width: 250%;
    position: absolute;
    top: 30px;
    transform: translateX(-30%);
}




.hideSubMenu ul li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255,0.7);

    background-color: rgb(10, 10, 10);
 
    padding: 6px 0 6px 10px;
}
.hideSubMenu ul li:first-child{
    padding-top: 15px;
    border-top: 1px solid white;
}
.hideSubMenu ul li:last-child{
    padding-bottom: 15px;
}